# Applied Data Science Capstone - Week 3 Assignment

### Part I - scrapying / data collection

In [4]:
# import required libraries
import pandas as pd
#import wikipedia as wp

In [26]:
# get the html source code
#html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
#df.to_csv('postalcodes.csv', header=0, index=False)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [63]:
df2 = df[df['Borough'] != "Not assigned"].reset_index(drop=True)
#df2.shape
#df2[0:5]
print('Number of Borough: ', len(df2['Borough'].unique()),'\nNumber of postcodes: ', len(df2['Postcode'].unique()), '\nNumber of neighborhoods: ', len(df2['Neighbourhood'].unique()))

Number of Borough:  11
Number of postcodes:  103
Number of neighborhoods:  209

In [74]:
grouped = df2.groupby(['Postcode', 'Borough'], as_index=False).agg(lambda x: ','.join(x))
#grouped.shape

(103, 3)

In [71]:
for i in range(len(grouped['Neighbourhood'])):
    if grouped.Neighbourhood[i] == 'Not assigned':
        grouped.Neighbourhood[i] = grouped.Borough[i]
# check
grouped[grouped['Neighbourhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [72]:
grouped.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [75]:
grouped.shape

(103, 3)

## Get Geospacial data / coordinates - Merge

In [85]:
# get coord
coordinates = pd.read_csv('Geospatial_Coordinates.csv')

# peek
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [86]:
# Clean column names
coordinates = coordinates.rename(columns={"Postal Code": "Postcode"})
merged_data = pd.merge(grouped, coordinates, on = "Postcode")
merged_data.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476